/*
Autor: Jorge Marcelo
Data de Criação: 06/09/2023
Github: https://github.com/Jorge-Marcelo
Linkedin: https://www.linkedin.com/in/jorge-marcelo-067a5017b/
Instagram: https://www.instagram.com/10_stronger/
Threads: https://www.threads.net/@10_stronger
*/ 

*{
margin: 0;
padding: 0;
}

/*Definindo animação*/
[scroll-anim]{
opacity: 0;
transition: all 0.7s ease;
animation-delay: 2s;
}

[scroll-anim].animation{
transform: translate3d(0px, -50px, 0px);
opacity: 1;
}

/*Direção da animação*/
[scroll-anim="top"]{
transform: translate3d(0px, -50px,0px);
}




