 /* Estilos CSS para o slider */
 .sliderModalContainer {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(0, 0, 0);
border-radius: 10px;
border: 3px solid rgb(255, 72, 0);
padding: 10px;
margin: 20px;
}

.slidesModal {
border: 3px solid rgb(255, 72, 0);
margin: 10px;
display: none; 
}

.slidesModal.active {
display: block; 
}

.anteriorSlider, .proximoSlider{
background-color: rgb(0, 0, 0);
width: 55px;
height: 55px;
border-radius: 50%;
border: 3px solid rgb(255, 255, 255);
font-size: 2em;
font-weight: 900;
color: orangered;
cursor: pointer;
margin: 5px;
}


.anteriorSlider:hover, .proximoSlider:hover{
background-color: orangered;
color: white;
border-color: white;
}


    