
/*
Autor: Jorge Marcelo
Data de Criação: 05/09/2023
Github: https://github.com/Jorge-Marcelo
Linkedin: https://www.linkedin.com/in/jorge-marcelo-067a5017b/
Instagram: https://www.instagram.com/10_stronger/
Threads: https://www.threads.net/@10_stronger
*/ 

/*Container do slider*/
.container-slider{
width:  650px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: rgb(0, 0, 0);
margin-top: 30px;
border: 5px solid;
border-image-slice: 1;
border-image-source: linear-gradient(to left, #ff0000, #ff8800);
}



/*Container das imagens*/
.slide{
margin-top: 10px;
}

@media(max-width:680px){
.container-slider{
width: 530px;
}
}


@media(max-width:560px){
.container-slider{
width: 430px;
}
}


@media(max-width:460px){
.container-slider{
width: 370px;
}
}

@media(max-width:400px){
.container-slider{
width: 320px;
}
}

@media(max-width:350px){
.container-slider{
width: 320px;
}
}


@media(max-width:340px){
.container-slider{
width: 320px;
}
}

@media(max-width:330px){
.container-slider{
width: 310px;
}
}

@media(max-width:320px){
.container-slider{
width: 305px;
}
}

/*Botões de proximo e anterioir*/
.proximo, .anterior{
background-color: rgb(0, 0, 0);
width: 55px;
height: 55px;
border-radius: 50%;
border: 3px solid rgb(255, 255, 255);
font-size: 2em;
font-weight: 900;
color: orangered;
cursor: pointer;
margin:10px;
}

.anterior:hover{
background-image: linear-gradient(to left, #ff0000, #ff8800);
color: white;
border: 3px solid rgb(255, 255, 255);
}
.proximo:hover{
background-image: linear-gradient(to left, #ff0000, #ff8800);
color: white;
border: 3px solid rgb(255, 255, 255);
}

/*Container dos botões de proximo e anterioir*/
.controlesSlider{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
border: 2px solid rgb(255, 38, 0);
width: 100%;
margin: 10px;
}

/*Container das miniaturas*/
aside{
display: grid;
grid-template-columns: repeat(8, 60px);
gap: 10px;
margin-right: 3px;
margin-bottom: 10px;
}

@media(max-width: 685px){
aside{
grid-template-columns: repeat(7, 60px);
}
}

@media(max-width: 561px){
aside{
grid-template-columns: repeat(6, 60px);
}
}

@media(max-width: 465px){
aside{
grid-template-columns: repeat(5, 60px);
}
}

@media(max-width: 402px){
aside{
grid-template-columns: repeat(4, 60px);
}
}

/*Estilo das miniatuaras separas*/
.miniaturas{
width: 60px;
height: 60px;
border: 3px solid orangered;
cursor: pointer;
}

img.miniaturas{
opacity: 0.5;
}
img.active,.miniaturas{
opacity: 1;
}
img,.miniaturas:hover{
opacity: 1;
}




