.container-slider{
width:  650px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: rgb(0, 0, 0);
margin-top: 30px;
border: 5px solid;
border-image-slice: 1;
border-image-source: linear-gradient(to left, #ff0000, #ff8800);
}



/*Container das imagens*/
.slide{
margin-top: 10px;
border: 5px solid;
border-image-slice: 1;
}


@media(max-width:680px){
.container-slider{
width: 530px;
}
}


@media(max-width:560px){
.container-slider{
width: 430px;
}
}


@media(max-width:460px){
.container-slider{
width: 370px;
}
}

@media(max-width:400px){
.container-slider{
width: 320px;
}
}

@media(max-width:350px){
.container-slider{
width: 320px;
}
}

.proximo, .anterior{
display: flex;
justify-content: center;
align-items: center;
background-color: white;
width: 100%;
height: 50px;
text-align: center;
border: 3px solid black;
font-size: 2em;
font-weight: 900;
cursor: pointer;
}

.anterior:hover{
background-image: linear-gradient(to left, #ff0000, #ff8800);
}
.proximo:hover{
background-image: linear-gradient(to left, #ff0000, #ff8800);
}

aside{
display: grid;
grid-template-columns: repeat(4, 130px);
gap: 10px;
margin-right: 3px;
margin-bottom: 10px;
}

@media(max-width:690px){
aside{
grid-template-columns: repeat(3, 130px);
}
}

@media(max-width:460px){
aside{
grid-template-columns: repeat(2, 130px);
}
}


.miniaturas{
width: 130px;
height: 130px;
border: 3px solid orangered;
cursor: pointer;
}

img.miniaturas{
opacity: 0.5;
}
img.active,.miniaturas{
opacity: 1;
}
img,.miniaturas:hover{
opacity: 1;
}




